header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    font-weight: 200;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}
.menu a{
    color: rgb(64, 131, 255);
    display: block;
    padding: 10px 20px;
    transition: 0.3s;
}

.menu a:hover{
    color: rgb(8, 51, 129);
}

.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}